<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fscx-sample-functional-filter" version="0.7.6" targetFramework="net45" />
  <package id="FSharp.Compiler.Service" version="6.0.2" targetFramework="net45" />
  <package id="FSharp.Compiler.Service.Visitors" version="0.7.3" targetFramework="net45" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net45" />
  <package id="FSharp.Expandable.Compiler.Build" version="0.7.6" targetFramework="net45" developmentDependency="true" />
  <package id="FSharp.Expandable.Compiler.Core" version="0.7.6" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net45" />
</packages>